doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='css/index.css')
  title Document
  link(rel='stylesheet' href='bootstrap-4/css/bootstrap.min.css')
  
.container
  .col-md-12
    img#imag(src='img/presentacionPortada.jpg')
  .col-md-12
    header#hamburguesa2
      nav.navbar.navbar-light.amber.lighten-4.mb-4
        // Collapse button
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent20' aria-controls='navbarSupportedContent20' aria-expanded='false' aria-label='Toggle navigation')
          .animated-icon1
            span
            span
            span
        // Collapsible content
        #navbarSupportedContent20.collapse.navbar-collapse
          // Links
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href='inicio')
                | INICIO
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='servicios') SERVICIOS
            li.nav-item
              a.nav-link(href='citas') CITAS
            li.nav-item
              a.nav-link(href='resultados') RESULTADOS EN LINEA
            li.nav-item
              a.nav-link(href='contactenos') CONTACTENOS
            li.nav-item
              a.nav-link(href='quienes_somos') QUIENES SOMOS?
          // Links
        // Collapsible content
      // /.Navbar
br
br
.container
  .col-md-10
    h1#colortitulos
      | MATERNAS
    p
      | A lo largo del embarazo, se te solicitar&aacute;n ex&aacute;menes regulares para controlar y supervisar tu bienestar y el de tu beb&eacute;. La
      | mayor&iacute;a de estos ex&aacute;menes de laboratorio son de rutina, pero algunos ex&aacute;menes adicionales pueden ser aconsejables
      | si tu doctor o profesional de la salud quiere tener un mejor control sobre la evoluci&oacute;n de alg&uacute;n aspecto
      | en particular.
    br
    div
      img(src='img/materna.jpg')
    br
    br
    h2  EXAMENES DE SANGRE DURANTE EL EMBARAZO
    br
    p
      | Los ex&aacute;menes de sangre se realizar&aacute;n a lo largo de todo el embarazo para estar seguros que t&uacute; y tu beb&eacute; est&aacute;n sanos. Se utilizan
      | para comprobar una serie de cosas:
    ul
      li
        b Tu grupo sangu&iacute;neo y el factor Rh: 
        p
          | Se identifican para los registros m&eacute;dicos al principio del embarazo, porque es importante conocer tu
          | tipo de sangre y si es o no es compatible con el de tu beb&eacute;. Si no es compatible, tu cuerpo puede
          | reaccionar como si fuera al&eacute;rgico al beb&eacute;, lo cual puede tener efectos negativos para ti y el beb&eacute;.
          | Tambi&eacute;n puede afectar a futuros embarazos. Estar consciente de cualquier incompatibilidad permitir&aacute;
          | a tu m&eacute;dico asesorarte sobre c&oacute;mo estar protegida de estos problemas.
      li
        b Niveles de hierro: 
        p
          | El hierro es esencial para la sangre saludable. Muy poco hierro en la dieta puede afectar tus niveles
          | de energ&iacute;a y hacer que te sientas m&aacute;s cansada que de costumbre. Tus niveles de hierro pueden fluctuar
          | durante el embarazo, por lo que probablemente seas examinada durante el primer trimestre y luego
          | otra vez a las 28 semanas. Si tus niveles est&aacute;n bajos, el aumento de la ingesta de alimentos ricos
          | en hierro puede ayudar. Son buenas fuentes de hierro las carnes rojas, br&oacute;coli, frutos secos y cereales
          | fortificados para el desayuno. Se te puede recetar suplementos de hierro si necesitas un refuerzo
          | m&aacute;s significativo.
      li
        b  Rubeola 
        p
          | Esta enfermedad por lo general sin complicaciones puede tener efectos nocivos en tu beb&eacute; durante el embarazo.
          | Es posible que hayas recibido la vacuna cuando eras ni&ntilde;a, pero este examen de sangre comprobar&aacute; si
          | eres completamente inmune o si es necesario que evites deliberadamente a las personas que puedan
          | tener rubeola.
    br
    .row
      div
        img#servicios(src='img/materna2.jpg')
  br
  br
  .container
    .col-md-10
      h2  EXAMENES DE ORINA DURANTE EL EMBARAZO
      br
      p
        | En la mayor&iacute;a de las citas de atenci&oacute;n prenatal con tu m&eacute;dico o profesional de la salud se te pedir&aacute; una muestra de orina.
        | Esta se utiliza para comprobar lo siguiente:
      ul
        li
          b Prote&iacute;nas: 
          p
            | Se identifican para los registros m&eacute;dicos al principio del embarazo, porque es importante conocer
            | tu tipo de sangre y si es o no es compatible con el de tu beb&eacute;. Si no es compatible, tu cuerpo
            | puede reaccionar como si fuera al&eacute;rgico al beb&eacute;, lo cual puede tener efectos negativos para ti
            | y el beb&eacute;. Tambi&eacute;n puede afectar a futuros embarazos. Estar consciente de cualquier incompatibilidad
            | permitir&aacute; a tu m&eacute;dico asesorarte sobre c&oacute;mo estar protegida de estos problemas.
        li
          b Glucosa: 
          p
            | Un resultado positivo de la glucosa se puede deber a los alimentos dulces ingeridos recientemente;
            | un resultado reiteradamente positivo podr&iacute;a ser indicativo de diabetes gestacional. Una prueba
            | de tolerancia a la glucosa lo confirmar&aacute; y, si se diagnostica, ser&aacute;s referida a un especialista
            | para recibir asesoramiento y atenta vigilancia.
        li
          b  Infecciones del tracto urinario: 
          p
            | No siempre acompa&ntilde;adas con s&iacute;ntomas evidentes, las infecciones urinarias no tratadas pueden llevar
            | a tener problemas m&aacute;s adelante en el embarazo. Una simple serie de antibi&oacute;ticos las eliminar&aacute;
            | r&aacute;pidamente.
      br
      div
        img(src='img/materna3.jpg')
  br
  br
  .container
    .col-md-10
      h2  EXAMENEN DE GLUSCOSA DURANTE EL EMBARAZO
      br
      p
        | La diabetes gestacional afecta del 2% al 3% de las mujeres durante el embarazo. Se encuentra m&aacute;s com&uacute;nmente en mujeres que
        | tienen m&aacute;s de 35 a&ntilde;os, obesas, o que son de origen ind&iacute;gena, afro-caribe&ntilde;o o del Medio Oriente. Por lo
        | general, se realiza entre las semanas 24 a la 26.
      p
        | Ocasionalmente, si tienes un historial de diabetes gestacional, si tu beb&eacute; es m&aacute;s grande de lo esperado, o si comienzas a
        | producir az&uacute;car en la orina, es posible que se te aconseje realizar el ex&aacute;men antes de las 24 semanas.
      p
        | Si se realiza durante la segunda mitad del embarazo, se te pedir&aacute; que ayunes la noche anterior y la ma&ntilde;ana de tu ex&aacute;men.
        | Despu&eacute;s de tomarte una muestra de sangre, se te brindar&aacute; una bebida con glucosa, y un corto per&iacute;odo de
        | tiempo despu&eacute;s se te tomar&aacute; otra muestra de sangre. Los resultados mostrar&aacute;n c&oacute;mo tu cuerpo ha procesado
        | la glucosa.
      p
        | Si ellos indican diabetes gestacional, realizar algunos cambios en tu alimentaci&oacute;n es por lo general el primer curso de acci&oacute;n.
        | Ser&aacute;s referida a un especialista que te asesorar&aacute; sobre c&oacute;mo controlar tu az&uacute;car en la sangre a trav&eacute;s
        | de una dieta bien equilibrada.
      br
      br
      .row
        div
          img#servicios(src='img/materna4.jpg')
      h4 AMNIOCENTESIS
      br
      p
        | Este ex&aacute;men de diagn&oacute;stico se utiliza para verificar si hay s&iacute;ndrome de Down y otros problemas cromos&oacute;micos. Por lo general,
        | se realiza entre las semanas 15 y 18 de embarazo. Se te podr&aacute; solicitar si los resultados de tus ex&aacute;menes
        | de sangre o de exploraci&oacute;n de la transparencia de la nuca indican un alto riesgo, si hay una historia
        | de condiciones similares en tu familia, o si eres mayor de 35 a&ntilde;os.
      p
        | La amniocentesis consiste en tomar una muestra de tu l&iacute;quido amni&oacute;tico para examinarla. En primer lugar, se utiliza ultrasonido
        | para comprobar la posici&oacute;n de tu beb&eacute; y la placenta. Luego se toma la muestra usando una aguja fina que
        | se inserta en el abdomen, que puede causar una sensaci&oacute;n similar a los calambres menstruales. La posici&oacute;n
        | de tu beb&eacute; y la aguja se controla por ecograf&iacute;a durante todo el ex&aacute;men, que dura alrededor de 10 a 15
        | minutos, pero no te preocupes, la aguja s&oacute;lo estar&aacute; insertada durante un minuto aproximadamente. Normalmente
        | tendr&aacute;s los resultados dentro de 21 d&iacute;as.
      p
        | Tendr&aacute;s que descansar durante un d&iacute;a o dos despu&eacute;s del ex&aacute;men, as&iacute; que aseg&uacute;rate de poder disponer de un par de d&iacute;as libres
        | en tu trabajo y consigue ayuda para el cuidado de tus otros hijos, si los tienes.
      p
        | La amniocentesis es un ex&aacute;men relativamente seguro y aunque existe un 1% de riesgo de complicaciones asociadas con el aborto
        | espont&aacute;neo, muchas mujeres encuentran que los beneficios de tener conocimiento de las posibles anomal&iacute;as
        | superan los riesgos. Tu m&eacute;dico o profesional de la salud ser&aacute; capaz de analizar contigo las implicaciones
        | del examen.
      br
      img(src='img/materna5.jpg')
      br
      br
      h4 MUESTREO DE VELLOSIDADES CORIONICAS (CVS) 
      br
      p
        | Similar a la amniocentesis, la muestra de vellosidades cori&oacute;nicas (CVS) se toma de una muestra de c&eacute;lulas de la placenta.
        | Estas c&eacute;lulas indicar&aacute;n cualquier anomal&iacute;a cromos&oacute;mica, aunque no mostrar&aacute;n la presencia de columna b&iacute;fida.
        | Este ex&aacute;men conlleva un peque&ntilde;o riesgo de aborto espont&aacute;neo, as&iacute; que aseg&uacute;rate de consultar todas las
        | dudas con tu m&eacute;dico antes de realizarte el ex&aacute;men.
      p
        | El ex&aacute;men CVS se presenta como una alternativa a la amniocentesis durante el primer trimestre para las mujeres con antecedentes
        | familiares de complicaciones gen&eacute;ticas o que tienen un hijo o hijos con ciertas patolog&iacute;as, y para las
        | mujeres mayores de 35 a&ntilde;os.
      p
        | Este ex&aacute;men dura alrededor de 10 a 15 minutos y la aguja debe permanecer insertada solo durante 2 a 3 minutos, por lo tanto
        | este examen puede ser m&aacute;s doloroso que el de amniocentesis. El m&eacute;dico puede utilizar un anest&eacute;sico local
        | para adormecer la piel. Despu&eacute;s, debes descansar por un par de d&iacute;as.
      br
      .row
        div
          img#servicios(src='img/materna6.jpg')
  br
  br
  .container
    center
      p
      h4
        | &ldquo;la mayor&iacute;a de estos controles son de bajo costo y se realizan en minutos. Adem&aacute;s, la mayor parte de
        | ellos est&aacute; cubierta por los seguros de salud&rdquo;
      p
      p
      h4 &ldquo;Cuida tu salud&rdquo;
      p
  hr.featurette-divider
  // FOOTER
  footer.container
    p.float-right
      a(href='#') Ir Arriba
    p
      | &copy; 2017-2018 Company, Inc. &middot;
      a(href='#') Privacy
      |  &middot;
      a(href='#') Terms
script(src='bootstrap-4/js/jquery-3.3.1.slim.min.js')
script(src='bootstrap-4/js/bootstrap.min.js')
script.
  $(document).ready(function () {
  $('.animated-icon1,.animated-icon3,.animated-icon4').click(function () {
  $(this).toggleClass('open');
  });
  });
