doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='css/index.css')
  title Document
  link(rel='stylesheet' href='bootstrap-4/css/bootstrap.min.css')
 
.container
  .col-md-12
    img#imag(src='img/presentacionPortada.jpg')
  .col-md-12
    header#hamburguesa2
      nav.navbar.navbar-light.amber.lighten-4.mb-4
        // Collapse button
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent20' aria-controls='navbarSupportedContent20' aria-expanded='false' aria-label='Toggle navigation')
          .animated-icon1
            span
            span
            span
        // Collapsible content
        #navbarSupportedContent20.collapse.navbar-collapse
          // Links
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href='inicio')
                | INICIO
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='servicios') SERVICIOS
            li.nav-item
              a.nav-link(href='citas') CITAS
            li.nav-item
              a.nav-link(href='resultados') RESULTADOS EN LINEA
            li.nav-item
              a.nav-link(href='contactenos') CONTACTENOS
            li.nav-item
              a.nav-link(href='quienes_somos') QUIENES SOMOS?
          // Links
        // Collapsible content
      // /.Navbar
br
br
.container
  .col-md-10
    h1#colortitulos
      | MUJERES
    p
      | Las mujeres siempre han tenido una esperanza de vida mayor que los hombres. Incluso en el &uacute;tero son m&aacute;s aptas para sobrevivir;
      | lo mismo durante la ni&ntilde;ez, adolescencia y edad adulta.
    p
      | Sin embargo, tambi&eacute;n son m&aacute;s propensas a padecer enfermedades largas y cr&oacute;nicas, seg&uacute;n un informe del Programa Mujer, Salud
      | y Desarrollo de la Organizaci&oacute;n Panamericana de la Salud (PAHO, por sus siglas en ingl&eacute;s).
    p
      | La falta de informaci&oacute;n, la desidia y el miedo a un diagn&oacute;stico negativo son las principales razones que aducen para no practicarse
      | estudios y an&aacute;lisis m&eacute;dicos que podr&iacute;an prevenir y brindar un tratamiento oportuno a padecimientos mortales
      | como el c&aacute;ncer, seg&uacute;n especialistas.
    br
    div
      img(src='img/mujeres.jpg')
    br
    br
    h2  &iquest;QUE EXAMENES DEBEN HACERSE? 
    br
    ul
      li
        b Papanicolau: 
        p
          | Este sencillo y r&aacute;pido procedimiento ayuda a detectar de forma temprana el c&aacute;ncer c&eacute;rvicouterino, una
          | enfermedad que en 2008 provoc&oacute; la muerte de 275.000 mujeres alrededor del mundo, seg&uacute;n datos la Organizaci&oacute;n
          | Mundial de la Salud.
        p
          | Aunque debe realizarse al menos una vez al a&ntilde;o desde la primera menstruaci&oacute;n, lo ideal es solicitarlo
          | cada seis meses, de preferencia a mitad del ciclo hormonal. Consiste en la toma de muestras en la
          | parte superior y lateral de la vagina, as&iacute; como en la porci&oacute;n interna y externa del cuello uterino.
      li
        b Colposcopia: 
        p
          | La colposcopia es un examen del cuello del &uacute;tero que permite observar este &oacute;rgano de manera directa.
          | A trav&eacute;s de tinciones especiales (uso de sustancias para colorear los tejidos) es posible detectar
          | infecciones en el aparato genital que podr&iacute;an derivar en alg&uacute;n tipo de c&aacute;ncer in situ o c&eacute;rvicouterino.
        p
          | Tambi&eacute;n sirve para diagnosticar enfermedades de transmisi&oacute;n sexual. Debe realizarse anualmente, una vez
          | iniciada la vida sexual.
        p
          | Se realiza con un colposcopio (microscopio o lente de aumento) que magnifica la imagen de los tejidos,
          | lo que ayuda a detectar lesiones tanto benignas como malignas a nivel de cuello, vagina y vulva.
      li
        b  Autoexploraci&oacute;n mamaria 
        p
          | La autoexploraci&oacute;n mamaria debe practicarse mensualmente una vez que la mujer ha comenzado a menstruar.
        p
          b Prueba estas tres t&eacute;cnicas: 
        p
          b En la regadera:
          |  Es preciso mover los dedos, de manera suave, hacia todas las partes de cada uno
          |                         de los senos. La mano derecha debe examinar el izquierdo y viceversa.
        p
          b Frente al espejo:
          |  Se debe inspeccionar cada seno mientras mantenemos los brazos a los lados;
          |                         inmediatamante debemos elevar las extremidades por encima de la cabeza y observar si se perciben
          |                         alteraciones en el contorno de los pechos. Es importante aclarar que muchas veces las gl&aacute;ndulas no
          |                         son id&eacute;nticas, lo cual es normal.
        p
          b Acostada:
          |  En esta posici&oacute;n es necesario colocar una almohada bajo del hombro derecho para, con
          |                         los dedos, presionar el seno suavemente con movimientos circulares peque&ntilde;os. Despu&eacute;s es necesario
          |                         apretar el pez&oacute;n y verificar que no salga ning&uacute;n l&iacute;quido. Se repite el procedimiento para el lado
          |                         izquierdo.
    br
    .row
      div
        img#servicios(src='img/mujer2.jpg')
  br
  br
  .container
    center
      p
      h4
        | &ldquo;la mayor&iacute;a de estos controles son de bajo costo y se realizan en minutos. Adem&aacute;s, la mayor parte de
        | ellos est&aacute; cubierta por los seguros de salud&rdquo;
      p
      p
      h4 &ldquo;Cuida tu salud&rdquo;
      p
  hr.featurette-divider
  // FOOTER
  footer.container
    p.float-right
      a(href='#') Ir Arriba
    p
      | &copy; 2017-2018 Company, Inc. &middot;
      a(href='#') Privacy
      |  &middot;
      a(href='#') Terms
script(src='bootstrap-4/js/jquery-3.3.1.slim.min.js')
script(src='bootstrap-4/js/bootstrap.min.js')
script.
  $(document).ready(function () {
  $('.animated-icon1,.animated-icon3,.animated-icon4').click(function () {
  $(this).toggleClass('open');
  });
  });
