doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='css/index.css')
  title Document
  link(rel='stylesheet' href='bootstrap-4/css/bootstrap.min.css')
  
.container
  .col-md-12
    img#imag(src='img/presentacionPortada.jpg')
  .col-md-12
    header#hamburguesa2
      nav.navbar.navbar-light.amber.lighten-4.mb-4
        // Collapse button
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent20' aria-controls='navbarSupportedContent20' aria-expanded='false' aria-label='Toggle navigation')
          .animated-icon1
            span
            span
            span
        // Collapsible content
        #navbarSupportedContent20.collapse.navbar-collapse
          // Links
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href='inicio')
                | INICIO
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='servicios') SERVICIOS
            li.nav-item
              a.nav-link(href='citas') CITAS
            li.nav-item
              a.nav-link(href='resultados') RESULTADOS EN LINEA
            li.nav-item
              a.nav-link(href='contactenos') CONTACTENOS
            li.nav-item
              a.nav-link(href='quienes_somos') QUIENES SOMOS?
          // Links
        // Collapsible content
      // /.Navbar
br
br
.container
  .col-md-10
    h1#colortitulos
      | NI&Ntilde;OS
    p
      | Es frecuente en escuelas y jardines de ni&ntilde;os solicitar a los padres de familia realicen a sus hijos estudios de laboratorio
      | y gabinete como un requisito para la inscripci&oacute;n al inicio del ciclo escolar.
    p
      | Los padres acuden con su m&eacute;dico quien procede a solicitar se practiquen los estudios requeridos y en algunos casos se limitan
      | a reportarlos como negativos sin realizarlos, al presentar el resultado de los estudios los profesores o
      | encargados de recibirlos simplemente los archivan y en pocas ocasiones la interpretaci&oacute;n la realiza el m&eacute;dico
      | escolar.
    br
    div
      img(src='img/niños.jpg')
    br
    h2  PARASITOS MAS COMUNES EN LOS NI&Ntilde;OS 
    br
    ul
      li
        b  Ascaris:
        |  Se transmiten al ingerir los huevecillos fecundados del par&aacute;sito, los cuales llegan al aparato
        |                     digestivo por medio de las manos o de frutas y verduras contaminadas con tierra. Se caracterizan por
        |                     alcanzar entre 10 y 30 cm de largo en un periodo de tres meses.
      li
        b  Oxiuros:
        |  Peque&ntilde;o par&aacute;sito que se caracteriza por vivir s&oacute;lo en los seres humanos, el cual afecta
        |                     particularmente a ni&ntilde;os en edad preescolar y escolar. Al igual que los ascaris se adquieren al ingerir
        |                     los huevecillos de los par&aacute;sitos. &Eacute;stos crecen dentro de los intestinos hasta ser par&aacute;sitos adultos,
        |                     los cuales se instalan ah&iacute; y con el tiempo son eliminados a trav&eacute;s de la materia fecal.
      li
        b Giardia:
        |  Es probablemente la infecci&oacute;n intestinal m&aacute;s frecuente en las zonas urbanas, y afecta de
        |                     forma espec&iacute;fica al intestino delgado. Asimismo, es considerado el protozoario (animal peque&ntilde;o) m&aacute;s grande
        |                     que ataca al hombre, pues pude llegar a medir hasta 70 cm. Su principal forma de contagio es por beber
        |                     o lavar frutas y verduras con agua contaminada o por llevarse las manos a la boca despu&eacute;s de haber estado
        |                     en contacto con superficies contaminadas.
    p
      | Tambi&eacute;n los ni&ntilde;os pueden tener infecci&oacute;n por amebas, debido a la ingesta de alimentos elaborados con poca higiene
      | y al aire libre, as&iacute; como otros par&aacute;sitos debido a la manipulaci&oacute;n de mascotas y no lavarse las manos posteriormente.
    br
    .row
      div
        img#servicios(src='img/niños2.jpg')
  br
  br
  h2  &iquest;QUE EXAMENES DEBEN HACERSE? 
  br
  ul
    li
      b Examen coproparasitosc&oacute;pico: 
      |  Es el estudio de laboratorio que se realiza m&aacute;s frecuentemente y forma
      |                 parte de la rutina en todos los laboratorios cl&iacute;nicos ya que este esta basado en los parasitos.
    li
      b Examen general de orina 
      |  es una de las armas m&aacute;s valiosas que se tiene para obtener informaci&oacute;n acerca
      |                 del funcionamiento del aparato urinario en si y de un numeroso grupo de afecciones sist&eacute;micas.
    li
      b  Exudado far&iacute;ngeo: 
      |  a pesar de que las infecciones de las v&iacute;as respiratorias agudas en los ni&ntilde;os son frecuentes,
      |                 la mayor&iacute;a de ellas son de etiolog&iacute;a viral y se autolimitan; un peque&ntilde;o porcentaje tiene etiolog&iacute;a bacteriana,
      |                 de ah&iacute; la importancia de hacer un diagn&oacute;stico diferencial, lo que permitir&aacute; ofrecer un tratamiento espec&iacute;fico;
      |                 mientras que en las de etiolog&iacute;a viral es solamente sintom&aacute;tico, en las de origen bacteriano la utilizaci&oacute;n
      |                 de antibi&oacute;ticos est&aacute; plenamente justificado, particularmente las ocasionadas por estreptococo beta&ndash;hemol&iacute;tico
      |                 por sus complicaciones no supurativas como son la fiebre reum&aacute;tica y la glomerulonefritis aguda.
  br
  div
    img(src='img/niños3.jpg')
br
br
.container
  center
    p
    h4
      | &ldquo;la mayor&iacute;a de estos controles son de bajo costo y se realizan en minutos. Adem&aacute;s, la mayor parte de ellos
      | est&aacute; cubierta por los seguros de salud&rdquo;
    p
    p
    h4 &ldquo;Cuida tu salud de los ni&ntilde;os&rdquo;
    p
hr.featurette-divider
// FOOTER
footer.container
  p.float-right
    a(href='#') Ir Arriba
  p
    | &copy; 2017-2018 Company, Inc. &middot;
    a(href='#') Privacy
    |  &middot;
    a(href='#') Terms
script(src='bootstrap-4/js/jquery-3.3.1.slim.min.js')
script(src='bootstrap-4/js/bootstrap.min.js')
script.
  $(document).ready(function () {
  $('.animated-icon1,.animated-icon3,.animated-icon4').click(function () {
  $(this).toggleClass('open');
  });
  });
