doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='css/index.css')
  title Document
  link(rel='stylesheet' href='bootstrap-4/css/bootstrap.min.css')

.container
  .col-md-12
    img#imag(src='img/presentacionPortada.jpg')
  .col-md-12
    header#hamburguesa2
      nav.navbar.navbar-light.amber.lighten-4.mb-4
        // Collapse button
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent20' aria-controls='navbarSupportedContent20' aria-expanded='false' aria-label='Toggle navigation')
          .animated-icon1
            span
            span
            span
        // Collapsible content
        #navbarSupportedContent20.collapse.navbar-collapse
          // Links
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href='inicio')
                | INICIO
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='servicios') SERVICIOS
            li.nav-item
              a.nav-link(href='citas') CITAS
            li.nav-item
              a.nav-link(href='resultados') RESULTADOS EN LINEA
            li.nav-item
              a.nav-link(href='contactenos') CONTACTENOS
            li.nav-item
              a.nav-link(href='quienes_somos') QUIENES SOMOS?
          // Links
        // Collapsible content
      // /.Navbar
center
  h1#colortitulos
    | PARASITOLOGIA
br
br
.container
  .row
    .col-md-6
      h2#colortitulos INTRODUCCION
      p
        | El estudio de la Parasitolog&iacute;a m&eacute;dica es importante para establecer el diagn&oacute;stico de la parasitosis humana,
        | ya que en muchos casos, el establecimiento, multiplicaci&oacute;n y difusi&oacute;n de los par&aacute;sitos en el organismo,
        | son causa de lesiones y alteraciones funcionales que pueden llegar a ser graves, manifest&aacute;ndose como
        | enfermedades parasitarias. En la importante funci&oacute;n de la medicina actual, de diagnosticar, tratar y
        | prevenir la parasitosis humana, es imprescindible la intervenci&oacute;n y ayuda del Laboratorio Cl&iacute;nico que
        | cuenta con una serie de m&eacute;todos eficaces y apropiados para la detecci&oacute;n de estos organismos nocivos al
        | hombre, ya que el tratamiento m&eacute;dico adecuado que se va a administrar a un individuo infectado, no debe
        | basarse s&oacute;lo en los datos obtenidos a partir de la sintomatolog&iacute;a, pues en parasitosis causadas por diferentes
        | agentes, se observan manifestaciones muy similares, y en muchos de los casos, los s&iacute;ntomas presentados
        | por el paciente, son demasiado escasos para establecer el diagn&oacute;stico de certeza.
  br
  .row
    .col-md-4
      img#servicios(src='img/Parasitología2.JPG')
  br
  .row
    .col-md-6
      h2#colortitulos &iquest;A QUIEN VA DIRIGIDO?
      p
        | A pacientes que se encuentran afectados por un proceso infeccioso de forma espont&aacute;nea o en su defecto, que
        | despu&eacute;s de una atenci&oacute;n en salud, necesite el aporte de un laboratorio de Parasitolog&iacute;a que permita identificar
        | y adem&aacute;s, informar qu&eacute; medicamentos,examenes son &uacute;tiles para erradicar la infecci&oacute;n.
  br
  .row
    .col-md-4
      img#servicios(src='img/dirigido.png')
  br
  .row
    .col-md-12
      h2#colortitulos PROCESOS INCLUIDO 
      p
        | El Laboratorio de Parasitolog&iacute;a de la Fundaci&oacute;n Valle del Diaz pone a disposici&oacute;n los siguientes procesos:
      ul.list-group
        li.list-group-item - Heces por Par&aacute;sitos Intestinales .
        li.list-group-item - Heces por Amebas .
        li.list-group-item - Examen coprol&oacute;gico .
        li.list-group-item - Helicobacter pylori .
        li.list-group-item - Ant&iacute;geno Fecal de Giardia/Cryptosporidium .
        li.list-group-item - Clostridium Difficile .
br
br
hr.featurette-divider
// FOOTER
footer.container
  p.float-right
    a(href='#') Ir Arriba
  p
    | &copy; 2017-2018 Company, Inc. &middot;
    a(href='#') Privacy
    |  &middot;
    a(href='#') Terms
script(src='bootstrap-4/js/jquery-3.3.1.slim.min.js')
script(src='bootstrap-4/js/bootstrap.min.js')
script.
  $(document).ready(function () {
  $('.animated-icon1,.animated-icon3,.animated-icon4').click(function () {
  $(this).toggleClass('open');
  });
  });
