doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='css/index.css')
  title Document
  link(rel='stylesheet' href='bootstrap-4/css/bootstrap.min.css')

.container
  .col-md-12
    img#imag(src='img/presentacionPortada.jpg')
  .col-md-12
    header#hamburguesa2
      nav.navbar.navbar-light.amber.lighten-4.mb-4
        // Collapse button
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent20' aria-controls='navbarSupportedContent20' aria-expanded='false' aria-label='Toggle navigation')
          .animated-icon1
            span
            span
            span
        // Collapsible content
        #navbarSupportedContent20.collapse.navbar-collapse
          // Links
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href='inicio')
                | INICIO
                span.sr-only (current)
            li.nav-item
              a.nav-link(href='servicios') SERVICIOS
            li.nav-item
              a.nav-link(href='citas') CITAS
            li.nav-item
              a.nav-link(href='resultados') RESULTADOS EN LINEA
            li.nav-item
              a.nav-link(href='contactenos') CONTACTENOS
            li.nav-item
              a.nav-link(href='quienes_somos') QUIENES SOMOS?
          // Links
        // Collapsible content
      // /.Navbar
br
br
.container
  .col-md-10
    h1#colortitulos
      | TERCERA EDAD
    p
      | Incluso si usted se siente bien, debe visitar a su proveedor para que le realice chequeos regulares. Estas consultas pueden
      | ayudarle a evitar problemas en el futuro. Por ejemplo, la &uacute;nica manera de averiguar si usted tiene presi&oacute;n
      | arterial alta es hacerse chequeos regulares. El az&uacute;car alta en sangre y los niveles de colesterol alto pueden
      | no tener s&iacute;ntomas en las etapas tempranas. Un simple examen de sangre puede detectar estas afecciones.
    br
    div
      img(src='img/tercera2.jpg')
    br
    br
    h2  EXAMENES PARA PERSONAS MAYORES A 65 A&Ntilde;OS DE EDAD
    br
    h5
      | EXAMEN PARA ANEURISMA A&Oacute;RTICO ABDOMINAL
    ul
      li
        p
          | Si usted tiene entre 65 y 75 a&ntilde;os de edad y ha fumado, debe hacerse un ultrasonido para detectar aneurismas
          | a&oacute;rticos abdominales.
      li
        p
          | Los dem&aacute;s hombres deben hablar de dicho examen con su proveedor.
    br
    h5
      | EXAMEN DE LA PRESI&Oacute;N ARTERIAL
    ul
      li
        p
          | H&aacute;gase tomar la presi&oacute;n arterial cada a&ntilde;o. Si el n&uacute;mero superior (n&uacute;mero sist&oacute;lico) est&aacute; entre 120 y
          | 139 o el n&uacute;mero inferior (n&uacute;mero diast&oacute;lico) est&aacute; entre 80 y 89 mm Hg o superior, entonces continue
          | revis&aacute;ndosela cada a&ntilde;o.
      li
        p
          | Si el n&uacute;mero superior es mayor a 140 o el n&uacute;mero inferior es mayor a 90, programe una cita con su proveedor.
      li
        p
          | Si usted tiene diabetes, enfermedades card&iacute;acas, problemas renales u otra afecci&oacute;n, probablemente necesitar&aacute; revisarse m&aacute;s
          | seguido, por lo menos una ves al a&ntilde;o.
      li
        p
          | Est&eacute; atento a las tomas de presi&oacute;n arterial en su &aacute;rea. Preg&uacute;ntele a su proveedor si puede pasar a que le revisen su presi&oacute;n
          | arterial. Tambi&eacute;n puede revisar su presi&oacute;n arterial utilizando m&aacute;quinas autom&aacute;ticas en las tiendas
          | locales y farmacias.
    br
    h5
      | EXAMEN DE COLESTEROL Y PREVENCI&Oacute;N DE ENFERMEDADES CARD&Iacute;ACAS
    ul
      li
        p Su colesterol se debe revisar al menos cada 5 a&ntilde;os si los niveles son normales.
      li
        p
          | Si usted tiene colesterol alto, diabetes, enfermedades card&iacute;acas, problemas renales u otra afecci&oacute;n, posiblemente necesite
          | chequeos con m&aacute;s frecuencia.
    br
    h5
      | EXAMEN PARA C&Aacute;NCER DE PULM&Oacute;N
    p
      | La Fuerza de Tarea de los Servicios Preventivos de Estados Unidos (US Preventive Services Task Force) recomienda el examen
      | anual para c&aacute;ncer de pulm&oacute;n con tomograf&iacute;a computarizada en dosis bajas (LDCT, por sus siglas en ingl&eacute;s)
      | en adultos hasta los 80 a&ntilde;os que:
    ul
      li
        p Tengan un historial de fumar 30 paquetes al a&ntilde;o Y.
      li
        p
          | Actualmente fumen o hayan dejado de fumar dentro de los &uacute;ltimos 15 a&ntilde;os.
    br
    .row
      div
        img#servicios(src='img/tercera.jpg')
    br
    h5
      | EXAMEN PARA C&Aacute;NCER DE COLON
    p
      | Hasta los 75 a&ntilde;os, usted debe hacerse uno de los siguientes ex&aacute;menes:
    ul
      li
        p Una prueba de sangre oculta en las heces todos los a&ntilde;os.
      li
        p
          | Una sigmoidoscopia flexible cada 10 a&ntilde;os, junto con una prueba de sangre oculta en las heces cada a&ntilde;o.
      li
        p
          | Una colonoscopia cada 10 a&ntilde;os.
    p
      | Hasta los 75 a&ntilde;os, usted debe hacerse uno de los siguientes ex&aacute;menes:
    ul
      li
        p Colitis ulcerativa.
      li
        p
          | Un antecedente familiar o personal de c&aacute;ncer de colon o recto.
      li
        p
          | Antecedentes de crecimientos grandes llamados p&oacute;lipos adenomatosos.
    br
    h5
      | EXAMEN PARA DIABETES
    ul
      li
        p
          | Si tiene de 65 a&ntilde;os en adelante y buena salud, lo deben examinar en busca de diabetes cada 3 a&ntilde;os.
      li
        p
          | Si tiene sobrepeso y tiene otros factores de riesgo para la diabetes, preg&uacute;ntele a su proveedor si lo deben examinar con
          | m&aacute;s frecuencia.
    br
    h5
      | VACUNAS
    ul
      li
        p
          | Si usted tiene 65 a&ntilde;os o m&aacute;s, apl&iacute;quese la vacuna antineumoc&oacute;cica si nunca se la han aplicado, o si han
          | pasado m&aacute;s de 5 a&ntilde;os desde que se la aplicaron.
      li
        p
          | Debe vacunarse contra la gripe cada a&ntilde;o.
      li
        p
          | H&aacute;gase aplicar una vacuna antitet&aacute;nica y antidift&eacute;rica de refuerzo cada 10 a&ntilde;os.
      li
        p
          | Se puede hacer aplicar una vacuna contra la culebrilla o el herpes z&oacute;ster despu&eacute;s de los 60 a&ntilde;os.
    br
  img(src='img/tercera3.png')
  br
  br
.container
  center
    p
    h4
      | &ldquo;la mayor&iacute;a de estos controles son de bajo costo y se realizan en minutos. Adem&aacute;s, la mayor parte de ellos
      | est&aacute; cubierta por los seguros de salud&rdquo;
    p
    p
    h4 &ldquo;Cuida tu salud&rdquo;
    p
hr.featurette-divider
// FOOTER
footer.container
  p.float-right
    a(href='#') Ir Arriba
  p
    | &copy; 2017-2018 Company, Inc. &middot;
    a(href='#') Privacy
    |  &middot;
    a(href='#') Terms
script(src='bootstrap-4/js/jquery-3.3.1.slim.min.js')
script(src='bootstrap-4/js/bootstrap.min.js')
script.
  $(document).ready(function () {
  $('.animated-icon1,.animated-icon3,.animated-icon4').click(function () {
  $(this).toggleClass('open');
  });
  });
